body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h1 span{
    color:orange;
}
header{
    display: flex;
    padding-left: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.right img{
    width: 50%;
    margin-top: 15%;
}
.left {
    width: 50%;
}
.left button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}
